# Google Apps Script Web App URL for Cloud Sync (Optional, fallback provided in server.js)
GOOGLE_SCRIPT_URL=https://script.google.com/macros/s/AKfycbwsHmtZ3-k4h6LYh69Jf9SyVv1SQoo3A3EJpYVkfCb61bMwsUrkeBBoirNI2s_vZMNK/exec
