<nav class="floating-navigation" id="app-bottom-nav">
    <div class="nav-container" #navContainer id="bottom-nav-container">
        @for (item of navItems(); track item.route; let i = $index) {
        <div 
            class="nav-item" 
            [id]="'nav-tab-' + item.route.replace('/', '')"
            [class.active]="isActive(item.route)" 
            (click)="onNavChange(item.route)" 
            #navItem>
            <div class="nav-content">
                <div class="nav-icon-pill">
                    <mat-icon class="nav-icon">{{ item.icon }}</mat-icon>
                </div>
                <span class="nav-label">{{ item.label }}</span>
            </div>
        </div>
        }
    </div>
</nav>
